<div *ngIf="errorFetcingData">Error loading theme</div>
<!-- <form #form="ngForm"> -->
<div class="theme-content p-4">
  <!-- theme-title  -->
  <div class="theme-title">
    <div class="theme-name-wrapper">
      <div class="theme-name">
         <h2>  {{theme?.themeName}}</h2>
        <p>Date: <time>{{theme?.created_at | date:' d.MM.y  hh:mm:ss a ' }}</time></p>
      </div>
      <div class="subscribers">
        <p>Subscribers: <span>{{theme?.subscribers?.length}}</span></p>
        <!-- <button class="subscribe">Subscribe</button>
                        <button class="unsubscribe">Unsubscribe</button> -->
      </div>
    </div>
  </div>
  <!-- comment  -->
  <div *ngFor="let post of postList; let i = index"  class="comment">
    <header class="header">
      <p><span>{{post?.userId?.username}}</span> posted on <time>{{post.updatedAt | elapsedTime}}</time></p>
    </header>
    <div class="comment-main">
      <div class="userdetails">
        <img src="/assets/profile.png" alt="avatar">
      </div>
      <div class="post-content p-2 align-items-center  d-flex">
        <span>{{post?.text}}</span>
      </div>
    </div>
    <div class="footer">
       <span class="p-1"><i class="fas fa-thumbs-up mr-1" (click)="newLikeHandler($event, post)"></i></span>
       <span class="p-1"><i class="fas fa-thumbs-down ml-1" (click)="removeLikeHandler($event, post)"></i></span>
      <p><span>{{post?.likes?.length}}</span> likes</p>
    </div>
  </div>
  <form  #form="ngForm"  (ngSubmit)="newPostHandler(form)">
    <div class="answer-comment">
      <p><span>currentUser</span> comment:</p>
      <div class="answer">
        <textarea type="text" #textInput="ngModel" ngModel required [minlength]="10" name="postText" id="postText"
        rows="8" class="height"></textarea>
        <p class="error" *ngIf="textInput.errors?.['minlength']">
          Password must be at least 10 characters!
        </p>
         <button class="public" [disabled]="form.invalid">Post</button>
        
      </div>
    </div>
  </form>
</div>
<!-- < -->