<footer>
   <div class="container row0 py-4">
    <div class="col-md-4 col-12">
      <div class="logo-wrap px-4 d-flex">
        <a class="logo"><div class="logo"><img class="w-100"  src="/assets/Gancho.png"></div></a>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="col0 align-items-center justify-content-center">
        
       
        <a class="py-1 color-white " routerLink="/theme/recent">Themes</a>
        <a class="py-1 color-white " routerLink="/theme/new">New Theme</a>

      </div>

    </div>
    <div class="col-md-4 col-12">
      <span>This design is making by Gancho</span>
    </div>
   </div>
  </footer>